# **Himanshu Singh**
# hshimanshusingh001@gmail.com


# **Major Project-IPL Score Prediction**

# **Importing** **Dataset**

In [15]:
# Importing libraries
import numpy as np
import pandas as pd

# Loading the dataset
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# **Exploring the** **dataset**

In [23]:
import numpy as np
import pandas as pd
df = pd.read_csv("/content/gdrive/My Drive/Major Project/ipl2017.csv") # we import the csv file and then put it to df

In [24]:
df.shape # gives the dimensions of dataframe

(76014, 15)

In [25]:
df.columns #returns all the coloumn names

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [26]:
df.dtypes #returns the type of each column

mid                 int64
date               object
venue              object
bat_team           object
bowl_team          object
batsman            object
bowler             object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
striker             int64
non-striker         int64
total               int64
dtype: object

In [27]:
df.head() # returns the first five values

   mid        date                  venue  ... striker non-striker total
0    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
1    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
2    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
3    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
4    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222

[5 rows x 15 columns]

In [ ]:
Handling missing values

# **Handling missing values**

In [28]:
df.info() # gives information about all the values of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

### There are no null values

# **Dropping unwanted columns**

In [29]:
col_remove=['mid','date', 'venue', 'bat_team', 'bowl_team', 'striker', 'non-striker'] # removes columns with those names 
df.drop(labels=col_remove, axis=1, inplace=True)
print('After removing unwanted columns: {}'.format(df.shape))

After removing unwanted columns: (76014, 8)

In [30]:
df.head()

       batsman   bowler  runs  ...  runs_last_5  wickets_last_5  total
0   SC Ganguly  P Kumar     1  ...            1               0    222
1  BB McCullum  P Kumar     1  ...            1               0    222
2  BB McCullum  P Kumar     2  ...            2               0    222
3  BB McCullum  P Kumar     2  ...            2               0    222
4  BB McCullum  P Kumar     2  ...            2               0    222

[5 rows x 8 columns]

In [31]:
df.columns

Index(['batsman', 'bowler', 'runs', 'wickets', 'overs', 'runs_last_5',
       'wickets_last_5', 'total'],
      dtype='object')

In [32]:
df['batsman'].unique() # returns the unrepeated batsman names

array(['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey',
       'Mohammad Hafeez', 'PA Patel', 'ML Hayden', 'MEK Hussey',
       'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'T Kohli',
       'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja',
       'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'L Ronchi',
       'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah',
       'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'AC Gilchrist',
       'Y Venugopal Rao', 'VVS Laxman', 'A Symonds', 'RG Sharma',
       'SB Styris', 'AS Yadav', 'SB Bangar', 'WPUJC Vaas', 'RP Singh',
       'K Goel', 'JR Hopes', 'KC Sangakkara', 'DPMD Jayawardene',
       'Yuvraj Singh', 'IK Pathan', 'S Sohal', 'B Lee', 'PP Chawla',
       'WA Mota', 'Shahid Afridi', 'RR Sarwan', 'S Sreesanth',
       'VRV Singh', 'S Chanderpaul', 'R Dravid', 'LRPL Taylor',
       'JH Kallis', 'V Kohli', 'MV Boucher', 'P Kumar', 'SB Joshi',
       'Z Khan', 'R Vinay Kumar', 'WP Saha', 'LR Shukla', 'AB Agarkar',
       'M Kartik', 'I Sharma', 'AM Rahane', 'DJ Bravo', 'MA Khote',
       'G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib Malik', 'MK Tiwary',
       'KD Karthik', 'R Bhatia', 'MF Maharoof', 'VY Mahesh', 'DB Das',
       'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna', 'GC Smith',
       'SA Asnodkar', 'Sohail Tanvir', 'SP Fleming', 'S Vidyut',
       'JA Morkel', 'LPC Silva', 'DB Ravi Teja', 'SE Marsh',
       'YV Takawale', 'SS Tiwary', 'RR Raje', 'Joginder Sharma',
       'MS Gony', 'M Muralitharan', 'M Ntini', 'W Jaffer', 'CL White',
       'Misbah-ul-Haq', 'DT Patil', 'A Kumble', 'DW Steyn', 'S Anirudha',
       'MM Patel', 'AB de Villiers', 'A Chopra', 'BJ Hodge', 'T Taibu',
       'Umar Gul', 'PP Ojha', 'SP Goswami', 'B Akhil', 'Salman Butt',
       'TM Dilshan', 'A Mishra', 'J Arunkumar', 'Iqbal Abdulla',
       'CK Kapugedera', 'LA Pomersbach', 'Shoaib Akhtar', 'AB Dinda',
       'SR Tendulkar', 'B Chipli', 'DR Smith', 'SD Chitnis',
       'Kamran Akmal', 'TM Srivastava', 'MK Pandey', 'RR Powar',
       'JP Duminy', 'JD Ryder', 'KP Pietersen', 'CH Gayle',
       'MC Henriques', 'A Flintoff', 'FH Edwards', 'PC Valthaty',
       'RJ Quiney', 'AD Mascarenhas', 'AS Raut', 'Pankaj Singh',
       'RS Bopara', 'DL Vettori', 'M Manhas', 'PJ Sangwan', 'MN van Wyk',
       'AA Bilakhia', 'TL Suman', 'Shoaib Ahmed', 'GR Napier',
       'R Bishnoi', 'RE van der Merwe', 'KP Appanna', 'M Vijay',
       'SB Jakati', 'L Balaji', 'NV Ojha', 'LA Carseldine', 'RJ Harris',
       'D du Preez', 'DS Kulkarni', 'SM Harwood', 'Yashpal Singh',
       'AN Ghosh', 'AD Mathews', 'SM Katich', 'DA Warner', 'J Botha',
       'A Nehra', 'Mashrafe Mortaza', 'GJ Bailey', 'AB McDonald',
       'Y Nagar', 'Niraj Patel', 'T Henderson', 'A Singh', 'R Ashwin',
       'T Thushara', 'Mohammad Ashraful', 'CA Pujara', 'OA Shah',
       'AP Tare', 'AT Rayudu', 'R Sathish', 'R McLaren', 'MS Bisla',
       'YA Abdulla', 'EJG Morgan', 'AA Jhunjhunwala', 'P Dogra',
       'A Uniyal', 'KA Pollard', 'MJ Lumb', 'DR Martyn', 'S Narwal',
       'M Morkel', 'Anirudh Singh', 'Jaskaran Singh', 'FY Fazal',
       'AC Voges', 'MD Mishra', 'J Theron', 'R Sharma', 'Mandeep Singh',
       'KM Jadhav', 'SW Tait', 'PD Collingwood', 'VS Malik',
       'SJ Srivastava', 'AP Dole', 'Bipul Sharma', 'DE Bollinger',
       'BAW Mendis', 'B Sumanth', 'C Madan', 'AG Paunikar', 'AJ Finch',
       'MR Marsh', 'STR Binny', 'IR Jaggi', 'DT Christian', 'RV Gomez',
       'UBT Chand', 'UT Yadav', 'Sunny Singh', 'NJ Rimmington',
       'MA Agarwal', 'AUK Pathan', 'AL Menaria', 'DJ Jacobs',
       'WD Parnell', 'TD Paine', 'SB Wagh', 'AC Thomas', 'BJ Haddin',
       'NLTC Perera', 'MS Wade', 'JE Taylor', 'RN ten Doeschate',
       'SL Malinga', 'AG Murtaza', 'TR Birt', 'Harpreet Singh',
       'NL McCullum', 'DH Yagnik', 'AC Blizzard', 'M Klinger',
       'I Malhotra', 'A Mithun', 'P Parameswaran', 'AA Chavan',
       'ND Doshi', 'CJ Ferguson', 'B Kumar', 'S Rana', 'JEC Franklin',
       'Shakib Al Hasan', 'F du Plessis', 'SPD Smith', 'MN Samuels',
       'KK Cooper', 'HV Patel', 'Ankit Sharma', 'RE Levi', 'RR Bhatkal',
       'Harmeet Singh', 'BA Bhatt', 'CJ McKay', 'DJ Harris', 'N Saini',
       'DA Miller', 'Azhar Mahmood', 'A Ashish Reddy', 'V Pratap Singh',
       'BB Samantray', 'RJ Peterson', 'S Nadeem', 'VR Aaron', 'MJ Clarke',
       'AP Majumdar', 'Gurkeerat Singh', 'P Awana', 'SP Narine',
       'A Chandila', 'PA Reddy', 'MC Juneja', 'AD Russell', 'KK Nair',
       'KB Arun Karthik', 'GH Vihari', 'MDKJ Perera', 'R Shukla',
       'JD Unadkat', 'M Vohra', 'JP Faulkner', 'R Rampaul', 'BJ Rohrer',
       'Q de Kock', 'KV Sharma', 'SMSM Senanayake', 'LJ Wright',
       'X Thalaivan Sargunam', 'DJG Sammy', 'MG Johnson', 'A Mukund',
       'SV Samson', 'BMAJ Mendis', 'KL Rahul', 'CM Gautam',
       'KW Richardson', 'Parvez Rasool', 'GJ Maxwell', 'R Dhawan',
       'SA Yadav', 'CJ Anderson', 'JJ Bumrah', 'CA Lynn', 'MA Starc',
       'AR Patel', 'Sandeep Sharma', 'BR Dunk', 'Shivam Sharma',
       'LMP Simmons', 'VH Zol', 'BCJ Cutting', 'Mohammed Shami',
       'BE Hendricks', 'S Gopal', 'M de Lange', 'RR Rossouw', 'JO Holder',
       'JDS Neesham', 'Imran Tahir', 'MM Sharma', 'DJ Hooda', 'CH Morris',
       'SS Iyer', 'SA Abbott', 'AN Ahmed', 'YS Chahal', 'J Suchith',
       'P Negi', 'RG More', 'Anureet Singh', 'HH Pandya',
       'NM Coulter-Nile', 'PV Tambe', 'MJ McClenaghan', 'DJ Muthuswami',
       'SN Thakur', 'SN Khan', 'D Wiese', 'S Aravind', 'JC Buttler',
       'CR Brathwaite', 'MP Stoinis', 'C Munro', 'P Sahu', 'KH Pandya',
       'TG Southee', 'MJ Guptill', 'KJ Abbott', 'TM Head', 'AD Nath',
       'NS Naik', 'Ishan Kishan', 'SW Billings', 'RR Pant',
       'KS Williamson', 'KC Cariappa', 'PSP Handscomb', 'Sachin Baby',
       'J Yadav', 'UT Khawaja', 'HM Amla', 'BB Sran', 'N Rana',
       'F Behardien', 'ER Dwivedi', 'JJ Roy', 'BA Stokes', 'Vishnu Vinod',
       'TS Mills', 'Basil Thampi', 'CR Woakes', 'V Shankar',
       'Rashid Khan', 'RA Tripathi', 'RD Chahar', 'LH Ferguson',
       'C de Grandhomme', 'PJ Cummins', 'Mohammad Nabi', 'Kuldeep Yadav',
       'Washington Sundar', 'S Badree', 'A Choudhary', 'AR Bawne',
       'AJ Tye', 'Ankit Soni', 'K Rabada', 'AF Milne', 'SP Jackson',
       'Swapnil Singh', 'R Tewatia', 'AS Rajpoot'], dtype=object)

In [33]:
df['bowler'].unique() #returns unrepeated names of the bowlers

array(['P Kumar', 'Z Khan', 'AA Noffke', 'JH Kallis', 'SB Joshi',
       'CL White', 'B Lee', 'S Sreesanth', 'JR Hopes', 'IK Pathan',
       'K Goel', 'PP Chawla', 'WA Mota', 'GD McGrath', 'B Geeves',
       'MF Maharoof', 'R Bhatia', 'DL Vettori', 'R Vinay Kumar',
       'B Akhil', 'AB Dinda', 'I Sharma', 'AB Agarkar', 'M Kartik',
       'Mohammad Hafeez', 'DJ Hussey', 'MM Patel', 'SR Watson',
       'SK Trivedi', 'SK Warne', 'D Salunkhe', 'Pankaj Singh',
       'YK Pathan', 'Mohammad Asif', 'VY Mahesh', 'SM Pollock', 'A Nehra',
       'DS Kulkarni', 'Harbhajan Singh', 'DJ Bravo', 'VS Yeligati',
       'AM Nayar', 'MA Khote', 'Sohail Tanvir', 'JDP Oram', 'MS Gony',
       'P Amarnath', 'M Muralitharan', 'Joginder Sharma', 'RP Singh',
       'DNT Zoysa', 'SB Bangar', 'Shahid Afridi', 'PP Ojha',
       'D Kalyankrishna', 'VRV Singh', 'Yuvraj Singh', 'DW Steyn',
       'CRD Fernando', 'ST Jayasuriya', 'V Kohli', 'Gagandeep Singh',
       'Umar Gul', 'SC Ganguly', 'LR Shukla', 'PJ Sangwan',
       'Shoaib Malik', 'V Sehwag', 'A Kumble', 'DP Vijaykumar',
       'SB Styris', 'RR Raje', 'JA Morkel', 'L Balaji', 'CK Kapugedera',
       'DR Smith', 'WPUJC Vaas', 'Y Venugopal Rao', 'AD Mascarenhas',
       'A Mishra', 'DJ Thornely', 'PM Sarvesh Kumar', 'Abdur Razzak',
       'TM Dilshan', 'SD Chitnis', 'M Ntini', 'RR Powar', 'SK Raina',
       'BAW Mendis', 'T Thushara', 'A Flintoff', 'Kamran Khan',
       'T Henderson', 'FH Edwards', 'Harmeet Singh', 'KP Pietersen',
       'LRPL Taylor', 'JD Ryder', 'Anureet Singh', 'CH Gayle', 'RR Bose',
       'YA Abdulla', 'RS Bopara', 'SL Malinga', 'DP Nannes', 'RG Sharma',
       'Shoaib Ahmed', 'BJ Hodge', 'RA Jadeja', 'RE van der Merwe',
       'KP Appanna', 'JP Duminy', 'SR Tendulkar', 'VS Malik',
       'SM Harwood', 'AS Raut', 'D du Preez', 'RJ Harris', 'TL Suman',
       'A Singh', 'M Morkel', 'LA Carseldine', 'S Tyagi', 'SB Jakati',
       'A Mithun', 'AM Rahane', 'A Symonds', 'C Nanda', 'J Botha',
       'CK Langeveldt', 'SS Sarkar', 'AM Salvi', 'Jaskaran Singh',
       'SW Tait', 'A Uniyal', 'AA Jhunjhunwala', 'AD Mathews',
       'RS Gavaskar', 'R Ashwin', 'JM Kemp', 'S Ladda', 'SE Bond',
       'SJ Srivastava', 'Bipul Sharma', 'Y Nagar', 'UT Yadav',
       'MC Henriques', 'R McLaren', 'J Theron', 'S Narwal', 'AC Voges',
       'KAJ Roach', 'KA Pollard', 'C Ganapathy', 'SB Wagh', 'R Sharma',
       'AN Ahmed', 'R Sathish', 'AP Dole', 'FY Fazal', 'PD Collingwood',
       'MR Marsh', 'L Ablish', 'S Sriram', 'AB McDonald', 'DE Bollinger',
       'JD Unadkat', 'MK Tiwary', 'ND Doshi', 'Iqbal Abdulla',
       'AL Menaria', 'STR Binny', 'AUK Pathan', 'AG Murtaza',
       'JEC Franklin', 'AC Thomas', 'WD Parnell', 'M Manhas',
       'DT Christian', 'DB Ravi Teja', 'BA Bhatt', 'JJ van der Wath',
       'S Aravind', 'R Ninan', 'Shakib Al Hasan', 'NLTC Perera',
       'RV Gomez', 'PC Valthaty', 'S Nadeem', 'S Randiv',
       'J Syed Mohammad', 'NL McCullum', 'JE Taylor', 'KMDN Kulasekara',
       'TG Southee', 'P Parameswaran', 'S Dhawan', 'B Kumar', 'AA Kazi',
       'VR Aaron', 'P Prasanth', 'Y Gnaneswara Rao', 'AA Chavan',
       'RW Price', 'GJ Maxwell', 'JP Faulkner', 'DAJ Bracewell',
       'Ankit Sharma', 'DJ Harris', 'TP Sudhindra', 'SP Narine',
       'HV Patel', 'KK Cooper', 'GB Hogg', 'P Awana', 'MN Samuels',
       'AD Russell', 'Azhar Mahmood', 'A Chandila', 'P Negi',
       'RJ Peterson', 'CJ McKay', 'R Shukla', 'MJ Clarke',
       'V Pratap Singh', 'A Ashish Reddy', 'BW Hilfenhaus', 'K Upadhyay',
       'Sunny Gupta', 'MG Johnson', 'JJ Bumrah', 'AS Rajpoot',
       'B Laughlin', 'GH Vihari', 'Mohammed Shami', 'BMAJ Mendis',
       'CH Morris', 'Anand Rajan', 'AJ Finch', 'MM Sharma', 'KV Sharma',
       'SMSM Senanayake', 'R Rampaul', 'R Dhawan', 'JO Holder',
       'IC Pandey', 'LJ Wright', 'S Kaul', 'YS Chahal', 'KW Richardson',
       'DJG Sammy', 'Sandeep Sharma', 'PV Tambe', 'Parvez Rasool',
       'RN ten Doeschate', 'MG Neser', 'NM Coulter-Nile', 'CJ Anderson',
       'MA Starc', 'AR Patel', 'JDS Neesham', 'M Vijay', 'SA Yadav',
       'S Badree', 'R Tewatia', 'V Shankar', 'Imran Tahir',
       'Shivam Sharma', 'S Rana', 'BE Hendricks', 'PJ Cummins',
       'K Santokie', 'S Gopal', 'Karanveer Singh', 'DJ Muthuswami',
       'TA Boult', 'SA Abbott', 'DJ Hooda', 'P Suyal', 'J Suchith',
       'D Wiese', 'MJ McClenaghan', 'HH Pandya', 'RG More', 'GS Sandhu',
       'M de Lange', 'J Yadav', 'Gurkeerat Singh', 'M Ashwin',
       'JW Hastings', 'C Munro', 'Mustafizur Rahman', 'CR Brathwaite',
       'KJ Abbott', 'P Sahu', 'BB Sran', 'KH Pandya', 'S Kaushik',
       'T Shamsi', 'MP Stoinis', 'Swapnil Singh', 'SM Boland',
       'CJ Jordan', 'KC Cariappa', 'A Zampa', 'BCJ Cutting', 'DL Chahar',
       'KS Williamson', 'Kuldeep Yadav', 'TS Mills', 'A Choudhary',
       'TM Head', 'BA Stokes', 'CR Woakes', 'T Natarajan', 'Rashid Khan',
       'C de Grandhomme', 'Basil Thampi', 'AJ Tye', 'AF Milne',
       'K Rabada', 'Washington Sundar', 'SN Thakur', 'SS Agarwal',
       'NB Singh', 'Ankit Soni', 'Mohammad Nabi', 'Mohammed Siraj',
       'LH Ferguson'], dtype=object)

# **Removing the first 5 overs data in every match**

In [34]:
print('Before removing first 5 overs data: {}'.format(df.shape))
df = df[df['overs']>=5.0]
print('After removing first 5 overs data: {}'.format(df.shape))

Before removing first 5 overs data: (76014, 8)
After removing first 5 overs data: (56707, 8)

# **Encoding the data**

In [35]:
# Converting the "batsman" and "bowler" features using OneHotEncoding method
encoded_df = pd.get_dummies(data=df, columns=['batsman', 'bowler'])
encoded_df.columns

Index(['runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'total',
       'batsman_A Ashish Reddy', 'batsman_A Chandila', 'batsman_A Chopra',
       'batsman_A Choudhary',
       ...
       'bowler_WPUJC Vaas', 'bowler_Washington Sundar',
       'bowler_Y Gnaneswara Rao', 'bowler_Y Nagar', 'bowler_Y Venugopal Rao',
       'bowler_YA Abdulla', 'bowler_YK Pathan', 'bowler_YS Chahal',
       'bowler_Yuvraj Singh', 'bowler_Z Khan'],
      dtype='object', length=725)

In [36]:
encoded_df.head() # returns the encoded data i.e all the strings have become numeric

    runs  wickets  overs  ...  bowler_YS Chahal  bowler_Yuvraj Singh  bowler_Z Khan
32    61        0    5.1  ...                 0                    0              1
33    61        1    5.2  ...                 0                    0              1
34    61        1    5.3  ...                 0                    0              1
35    61        1    5.4  ...                 0                    0              1
36    61        1    5.5  ...                 0                    0              1

[5 rows x 725 columns]

# **Splitting the dataset for training and testing**

In [37]:
X = encoded_df.drop('total',axis=1) # X contains all the input features 
y = encoded_df['total'] # Y contains  the output label

In [38]:
# Using train-test ratio as 70:30. 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state=0)

# **Preprocessing**

In [39]:
# Normalising all the data values using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
norm = scaler.fit(X_train)

In [40]:
X_train=norm.transform(X_train) 
X_test = norm.transform(X_test)

# **Random Forest Regression Model**

In [41]:
from math import *
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=10,random_state=0)
reg.fit(X_train,y_train) # the training set of X an Y have been used to train the random forest regressor model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [42]:
reg.score(X_train,y_train) # gives an accuracy of 98%

0.9775840925828115

In [43]:
reg.score(X_test,y_test) # gives an accuracy of 88%

0.8764438600459298

In [44]:
# Random Forest Regression - Model Evaluation
y_pred = reg.predict(X_test)

In [45]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse, accuracy_score
# we find MSE RMSE over here because accuracy score is a classification metric 
print("Mean Absolute Error (MAE): {}".format(mae(y_test, y_pred)))
print("Mean Squared Error (MSE): {}".format(mse(y_test, y_pred)))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(y_test, y_pred))))

Mean Absolute Error (MAE): 6.72615059072474
Mean Squared Error (MSE): 104.86372891318405
Root Mean Squared Error (RMSE): 10.240299258966216

# **Predicting for own data**

In [46]:
# The below is an already preprocessed and encoded data for which we are going to predict

pred_data = np.array([[0.2 , 0.        , 0.10958903, 0.33962274, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        ]])

In [47]:
# Predicting total score for the above data
y_pred=reg.predict(pred_data)
print(y_pred)

#Expected total score : 196.
#Predicted score : 194

[194.]